<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d98eb4a9-ddd9-4740-bb68-b1f4c8363931/resourceGroups/FantasySportRG/providers/Microsoft.Web/sites/hannaTeamservice</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hannateamservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>b255e1d6-1b8c-4398-8ee0-f658ed3e6d3b</ProjectGuid>
    <PublishUrl>https://hannateamservice.scm.azurewebsites.net/</PublishUrl>
    <UserName>$hannaTeamservice</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>