<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f086a187-6464-432f-be7c-8b4705bcf104/resourceGroups/PetAdoptionRG/providers/Microsoft.Web/sites/usmanAdoptionservice</ResourceId>
    <ResourceGroup>PetAdoptionRG</ResourceGroup>
    <ApiResourceId>/subscriptions/f086a187-6464-432f-be7c-8b4705bcf104/resourceGroups/PetAdoptionRG/providers/Microsoft.ApiManagement/service/PetAdoptionapi/apis/AdoptionService</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://usmanadoptionservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>616c1447-5675-4a55-91d4-d34646e0f9e2</ProjectGuid>
    <MSDeployServiceURL>usmanadoptionservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>usmanAdoptionservice</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$usmanAdoptionservice</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>