<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f086a187-6464-432f-be7c-8b4705bcf104/resourceGroups/BlobClass/providers/Microsoft.Web/sites/UsmanWebApp</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://usmanwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>9a0689a8-2fd7-49cc-b45e-4d43e51f249a</ProjectGuid>
    <PublishUrl>https://usmanwebapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$UsmanWebApp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>